@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(255,255,255);
  }
  .center{
    margin-left:-9%;
  }
  .Headers{
    background-color: rgb(226,51,54);
    margin-bottom: 2%;
  }
  input {
    border: 2px solid currentcolor;
    border-radius: 1%;
  }
  input:invalid {
    border: 2px solid red;
  }
  
  input:invalid:focus {
    background-image: linear-gradient(rgba(255, 0, 0, 0.193), rgb(247, 134, 134),rgb(238, 144, 144));
  }
}



@media only screen and (min-width: 768px) {
  body {
    background-color: rgb(255,255,255);
  }
  .center{
    margin-left:-3%;
    width: 103%;
    border-radius: 2%;
    opacity: 0.9;
  }
  .Headers{
    background-color: rgb(226,51,54);
    margin-bottom: 2%;
  }
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

